// Prevent layout breakage on unsupporting browsers
html {
	&.no-js {
		.flex-space-between {
			@include clearfix;
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}
} 

html,
body {
	min-height: 100%;
	height: 100%;
	background-color: $body-bg;
	// overflow-x: hidden;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

// SIZE CONTROL VARS
$size-control-placeholder: 530px;
	// Banners
$banner-height: 350px;
	// Site menu
$site-menu-width-control: 101px;
$menu-list-icons-width: 35px;
	// Header
$header-height-control: 70px;
	// Mobile header
$mobile-navbar-height: 56px;

.site-wrapper,
.site-content {
	min-height: 100%;
	height: 100%;
	position: relative;
}

// SIZE CONTROL
	// I assume that the 'md' size is the default size
	// Control the sizes of elements by using $size-control variables at the top of this file
.size {
	&.xs {}
	&.sm {}
	&.lg {}
	&.xl {}
}