/* ICON FONTS */
// @include font-face("font name", "font/path", $file-formats: eot woff);
// font-family: Flaticon;
// speak: none;
// font-style: normal;
// font-weight: normal;
// font-variant: normal;
// text-transform: none;
// line-height: 1;

// /* Better Font Rendering =========== */
// -webkit-font-smoothing: antialiased;
// -moz-osx-font-smoothing: grayscale;