// MAIN TEXT
html {
  -webkit-font-smoothing: antialiased;
}

// DISABLE ANCHOR UNDERLINE ON HOVER
// a {
//   &:hover,
//   &:focus,
//   &:active {
//     text-decoration: none !important;
//   }
// }

// REMOVE DEFAULT MARGINS MIXIN
@mixin normalize-text {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6, 
  p, .p {
    margin: 0;
  }
}
.normalize-text {
  @include normalize-text;
}

// Alignment
.text-left {
  text-align: left!important; 
}
.text-right {
  text-align: right!important; 
}
// Center on Mobile or Tablet

@for $i from 1 through length($breakpoints-sufix-list) {
  .text-left-#{nth($breakpoints-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: left !important;
    }
  }
}

@for $i from 1 through length($breakpoints-sufix-list) {
  .text-right-#{nth($breakpoints-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: right !important;
    }
  }
}

@for $i from 1 through length($breakpoints-sufix-list) {
  .text-center-#{nth($breakpoints-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: center !important;
    }
  }
}


// Text transforms
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none !important;
}

.underline {
  text-decoration: underline!important;
}

a.not-underline {
  &:hover {
    text-decoration: none;
  }
}

// TEXT GRADIENTS
@mixin text-fill-color($color) {
  @include prefixer(text-fill-color, $color, webkit moz spec);
}

@mixin background-clip($clip) {
  @include prefixer(background-clip, $clip, webkit moz spec);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .text-gradient {
    @include background(linear-gradient(left, $brand-primary, $brand-info, $brand-success) repeat);
    @include background-clip(text);
    @include text-fill-color(transparent);
  }
}
// END:TEXT GRADIENTS

// LINE HEIGHTS
.lh-sm {line-height: rem(19px);}
.lh-md {line-height: rem(21px);}
.lh-lg {line-height: rem(28px);}